In [ ]:
#yfinance
import yfinance as yf
data=yf.download('DOT-USD',period='7d',interval='1m',multi_level_index=False,ignore_tz=True)
data

[*********************100%***********************]  1 of 1 completed

                        Close      High       Low      Open  Volume
Datetime
2026-02-08 00:00:00  1.372244  1.372244  1.372244  1.372244       0
2026-02-08 00:01:00  1.371988  1.371988  1.371988  1.371988       0
2026-02-08 00:02:00  1.371916  1.371916  1.371916  1.371916    7056
2026-02-08 00:03:00  1.372043  1.372043  1.372043  1.372043       0
2026-02-08 00:04:00  1.371637  1.371637  1.371637  1.371637       0
...                       ...       ...       ...       ...     ...
2026-02-14 13:05:00  1.363755  1.363755  1.363755  1.363755  181264
2026-02-14 13:06:00  1.364058  1.364058  1.364058  1.364058   28080
2026-02-14 13:07:00  1.363620  1.363620  1.363620  1.363620   66584
2026-02-14 13:09:00  1.363842  1.363842  1.363842  1.363842       0
2026-02-14 13:10:00  1.364223  1.364223  1.364223  1.364223   73320

[8205 rows x 5 columns]

In [15]:
data=yf.download('DOT-USD',start='2024-01-01',end='2024-02-01',interval='1d',multi_level_index=False,ignore_tz=True)
data

[*********************100%***********************]  1 of 1 completed

               Close      High       Low      Open     Volume
Date
2024-01-01  8.598925  8.624625  8.099417  8.201031  246624749
2024-01-02  8.412696  8.801247  8.354272  8.599174  340575264
2024-01-03  7.641823  8.564529  6.978059  8.412877  662847385
2024-01-04  7.881476  7.987429  7.537780  7.641465  333627890
2024-01-05  7.445562  7.945946  7.246333  7.881258  348229259
2024-01-06  7.138831  7.448601  6.987272  7.445598  241045789
2024-01-07  6.895833  7.313965  6.844491  7.139665  223805100
2024-01-08  7.477948  7.500977  6.564641  6.896447  344729757
2024-01-09  7.117210  7.521773  6.926911  7.478613  293447141
2024-01-10  7.971061  8.074016  6.848067  7.118541  416263452
2024-01-11  8.170189  8.566725  7.883282  7.973370  535315793
2024-01-12  7.569274  8.206327  7.419299  8.166201  350427695
2024-01-13  7.612985  7.740000  7.412961  7.567116  202570099
2024-01-14  7.327099  7.688433  7.327099  7.613140  170845572
2024-01-15  7.517787  7.676067  7.320395  7.325549  194678728
2024-01-16  7.490060  7.662617  7.355122  7.515417  196373828
2024-01-17  7.332960  7.590975  7.266696  7.488631  183863749
2024-01-18  7.007637  7.377194  6.863233  7.335141  242668717
2024-01-19  6.874605  7.041850  6.595669  7.007310  228284379
2024-01-20  6.898895  6.942979  6.783599  6.875000  140211032
2024-01-21  6.807318  6.964543  6.807318  6.900289  115667492
2024-01-22  6.332925  6.835377  6.320576  6.808433  269918505
2024-01-23  6.354431  6.443181  6.001400  6.332935  251031948
2024-01-24  6.459842  6.532093  6.264542  6.354418  182514259
2024-01-25  6.434463  6.559728  6.353330  6.459924  156401029
2024-01-26  6.672458  6.723201  6.365406  6.433969  186488222
2024-01-27  6.670247  6.740088  6.540070  6.672746  141355540
2024-01-28  6.839127  6.839127  6.579176  6.670121  181489925
2024-01-29  7.030882  7.290434  6.720756  6.846797  340006925
2024-01-30  6.841967  7.074926  6.832418  7.030882  219740479
2024-01-31  6.655736  6.881529  6.602621  6.840968  196604220

In [ ]:
stock=yf.Ticker('AMZN')