In [ ]:

import numpy as np
np1=np.arange(25).reshape(5,5)
np1

dataframe from numpy array

In [ ]:
import pandas as pd
df1=pd.DataFrame(np1,index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4','c5'])
df1

dataframe from list of list

In [ ]:
l1=[[1,2,3],[44,55,66],[77,88,99]]
df2=pd.DataFrame(l1,columns=['tsla','amzn','goog'],index=[11,12,13])
df2

dataframe from dict of list

In [ ]:
dl1=[{"name":'tsla','price':500,'sector':'auto'},
     {"name":'amzn','price':600,'sector':'tech'},
     {"name":'jpmorgan','price':800,'sector':'bank'}]
df3=pd.DataFrame(dl1)
df3

list of dictionary

In [ ]:
ld1={"name":['tsla','amzn','jpmorgan'],
     'price':[500,600,800],
     'sector':['auto','tech','bank']}
df4=pd.DataFrame(ld1)
df4

csv

In [ ]:
df5=pd.read_csv('sp500.csv')
df5

In [ ]:
df5.to_excel('e500.xlsx')

In [ ]:
!pip3 install openpyxl

In [ ]:
df6=pd.read_excel('e500.xlsx')
df6

In [ ]:
!pip3 install lxml

In [ ]:
#https://colab.research.google.com/drive/1CslXc80566TtwVgMgjy2yxAr1coyZyOq?usp=sharing

In [ ]:
!pip3 install requests

In [ ]:
import pandas as pd
import requests

url = 'https://en.wikipedia.org/wiki/NIFTY_50'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
df7=df7[1]

In [ ]:
df7.rename(columns={'Company name':'name','Sector[15]':'sector','Date added[16]':'Date'},inplace=True)

In [ ]:
df7.head(10)

In [ ]:
df7.tail(10)

In [ ]:
df5.info()

In [ ]:
df5.describe()

In [ ]:
df5.shape

In [ ]:
list(df5.columns)

In [ ]:
list(df5.index)

single column ->series


more than 1 column ->dataframe

In [27]:
df5[['Name','EPS']]

                           Name    EPS
0                     Apple Inc   9.20
1                    Abbvie Inc   5.31
2           Abbott Laboratories   2.41
3                 Accenture Plc    NaN
4                  Allergan Plc  15.42
..                          ...    ...
97   Verizon Communications Inc   3.75
98     Walgreens Boots Alliance   5.10
99        Wells Fargo & Company   4.14
100             Wal-Mart Stores   4.36
101            Exxon Mobil Corp   3.56

[102 rows x 2 columns]

In [26]:
df5.Name

0                       Apple Inc
1                      Abbvie Inc
2             Abbott Laboratories
3                   Accenture Plc
4                    Allergan Plc
                  ...
97     Verizon Communications Inc
98       Walgreens Boots Alliance
99          Wells Fargo & Company
100               Wal-Mart Stores
101              Exxon Mobil Corp
Name: Name, Length: 102, dtype: object