In [5]:
import numpy as np
import pandas as pd

np1=np.arange(25).reshape(5,5)
df1=pd.DataFrame(np1,index=['r1','r2','r3','r4','r5'],columns=['a','b','c','d','e'])
df1.index.name='r'
df1

     a   b   c   d   e
r
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

In [7]:
np2=np.arange(100,125).reshape(5,5)
df2=pd.DataFrame(np2,index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4','c5'])
df2.index.name='r'
df2

     c1   c2   c3   c4   c5
r
r1  100  101  102  103  104
r2  105  106  107  108  109
r3  110  111  112  113  114
r4  115  116  117  118  119
r5  120  121  122  123  124

In [10]:
pd.merge(df1,df2,on='r')

     a   b   c   d   e   c1   c2   c3   c4   c5
r
r1   0   1   2   3   4  100  101  102  103  104
r2   5   6   7   8   9  105  106  107  108  109
r3  10  11  12  13  14  110  111  112  113  114
r4  15  16  17  18  19  115  116  117  118  119
r5  20  21  22  23  24  120  121  122  123  124