In [19]:
import pandas as pd
df=pd.read_csv(r'/Users/algo trading 2026/batch35/12_pandas/unicorn.csv')
df

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [21]:
df=df.set_index('Company')

In [ ]:
df.reset_index()

In [22]:
df

,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
Company,,,,,,,,
Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...
Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [23]:
df.loc['SHEIN','Year Founded']

np.int64(2008)

In [24]:
df.loc['Bytedance':'Klarna' ,'Valuation': 'Industry']

           Valuation Date Joined                         Industry
Company
Bytedance        180  07-04-2017          Artificial intelligence
SpaceX           100  01-12-2012                            Other
SHEIN            100  03-07-2018  E-commerce & direct-to-consumer
Stripe            95  23-01-2014                          Fintech
Klarna            46  12-12-2011                          Fintech

In [16]:
df.iloc[2,-2]

np.int64(2008)

In [25]:
df.iloc[0:6,0:3]

           Valuation Date Joined                         Industry
Company
Bytedance        180  07-04-2017          Artificial intelligence
SpaceX           100  01-12-2012                            Other
SHEIN            100  03-07-2018  E-commerce & direct-to-consumer
Stripe            95  23-01-2014                          Fintech
Klarna            46  12-12-2011                          Fintech
Canva             40  08-01-2018     Internet software & services