In [5]:

import numpy as np
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2 , np.nan,4],
    "B": [ 5.1, np.nan,6.6,8.8],
    "C": ["foo","zoo","bar", np.nan],
    'D':[6,7,8,9]
})
print(df)

     A    B    C  D
0  1.0  5.1  foo  6
1  2.0  NaN  zoo  7
2  NaN  6.6  bar  8
3  4.0  8.8  NaN  9

In [7]:
df.dropna(axis=1)

   D
0  6
1  7
2  8
3  9

In [8]:
df.fillna(1)

     A    B    C  D
0  1.0  5.1  foo  6
1  2.0  1.0  zoo  7
2  1.0  6.6  bar  8
3  4.0  8.8    1  9

In [10]:
df

     A    B    C  D
0  1.0  5.1  foo  6
1  2.0  NaN  zoo  7
2  NaN  6.6  bar  8
3  4.0  8.8  NaN  9

In [12]:
df.ffill(axis=1)

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_72668/1349111183.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.ffill(axis=1)

     A    B    C    D
0  1.0  5.1  foo    6
1  2.0  2.0  zoo    7
2  NaN  6.6  bar    8
3  4.0  8.8  8.8  9.0

In [13]:
df.bfill(axis=1)

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_72668/3390626696.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.bfill(axis=1)

     A    B    C    D
0  1.0  5.1  foo    6
1  2.0  zoo  zoo    7
2  6.6  6.6  bar    8
3  4.0  8.8  9.0  9.0

In [18]:
sp500=pd.read_csv('sp500.csv')
sp500

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30    NaN
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [19]:
print("mean: ")
print(sp500["Price"].mean())

print("median: ")
print(sp500["Price"].median())

print("mode: ")
print(sp500["Price"].mode()[0])

print("minimum: ")
print(sp500["Price"].min())

print("maximum: ")
print(sp500["Price"].max())

print("variance: ")
print(sp500["Price"].var())

print("standard deviation: ")
print(sp500["Price"].std())

mean:
150.50068627450983
median:
88.295
mode:
12.11
minimum:
12.11
maximum:
1762.23
variance:
57969.4528539798
standard deviation:
240.768463163222

In [20]:

print(sp500["EPS"].value_counts())

EPS
3.56     2
1.92     2
3.89     2
6.40     2
29.87    2
        ..
3.66     1
4.45     1
5.70     1
3.57     1
4.36     1
Name: count, Length: 95, dtype: int64

how to type cast

In [30]:

import pandas as pd
import requests

url = 'https://www.screener.in/screens/281185/nifty-50/'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
data2=df7[0]
data2

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_72668/82928434.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
0,1.,Reliance Industr,1386.10,24.44,1875735.52,0.40,22290.00,0.57,264905.00,10.38,9.69
1,2.,HDFC Bank,916.10,18.92,1409590.74,1.20,20691.04,12.18,87066.94,2.38,7.51
2,3.,TCS,3162.50,22.38,1144220.18,1.90,10720.00,6.69,67087.00,4.87,64.63
3,4.,ICICI Bank,1343.40,18.14,960861.06,0.82,13481.13,-2.68,48363.84,2.82,7.87
4,5.,Infosys,1670.80,23.48,677455.07,2.57,6666.00,10.79,45479.00,8.90,37.50
5,6.,HCL Technologies,1707.00,26.98,463222.63,3.16,4082.00,4.19,33872.00,13.32,31.61
6,7.,Kotak Mah. Bank,422.80,22.37,420495.44,0.12,4924.29,4.75,17506.80,5.25,8.17
7,8.,UltraTech Cem.,12369.00,46.92,364488.67,0.63,1729.44,31.88,21829.68,22.78,10.89
8,9.,Hindustan Zinc,698.70,25.29,295223.04,4.15,3879.00,45.84,10922.00,27.65,60.73
9,10.,JSW Steel,1170.00,36.60,286118.11,0.24,2410.00,218.40,45991.00,11.15,8.11
10,11.,Wipro,238.40,18.85,250014.81,4.61,3145.00,-7.00,23555.80,5.54,19.51
11,12.,Eternal,258.70,1080.76,249654.57,0.00,102.00,72.88,16315.00,201.85,2.66
12,13.,Avenue Super.,3665.60,83.26,238532.71,0.00,855.78,18.27,18100.88,13.32,17.95
13,14.,Shriram Finance,1003.55,20.64,188816.77,0.99,2529.65,18.07,12170.76,13.76,10.95
14,15.,Interglobe Aviat,4704.50,40.12,181871.78,0.21,612.60,-21.69,23471.90,6.16,17.34
15,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
16,16.,LTIMindtree,5893.50,33.74,174735.93,1.10,959.60,28.57,10781.00,11.59,27.63
17,17.,Tech Mahindra,1701.10,34.66,166660.40,2.65,1118.60,32.95,14393.20,8.34,18.56
18,18.,Jio Financial,252.90,101.52,160670.95,0.20,268.98,-8.75,900.90,105.52,1.47
19,19.,HDFC Life Insur.,712.10,81.26,153589.00,0.29,418.19,-0.74,29427.61,70.10,6.58
20,20.,B P C L,349.15,6.06,151478.92,5.01,7188.40,89.98,119029.43,5.18,16.22
21,21.,Tata Capital,351.75,33.72,149313.27,0.00,1264.74,19.81,7975.44,12.27,9.58
22,22.,I R F C,114.15,21.29,149177.00,1.40,1802.19,10.52,6661.37,-1.51,5.83
23,23.,DLF,588.45,33.77,145659.72,1.02,1203.36,56.10,2020.22,32.15,6.51
24,24.,Punjab Natl.Bank,120.15,7.76,138087.71,2.41,5576.54,15.72,32889.23,3.12,6.32
25,25.,Union Bank (I),172.77,6.96,131885.80,2.75,5072.69,9.73,26819.18,0.37,6.72

In [31]:
data=data2.drop(15,axis=0)
data

,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
0,1.,Reliance Industr,1386.10,24.44,1875735.52,0.40,22290.00,0.57,264905.00,10.38,9.69
1,2.,HDFC Bank,916.10,18.92,1409590.74,1.20,20691.04,12.18,87066.94,2.38,7.51
2,3.,TCS,3162.50,22.38,1144220.18,1.90,10720.00,6.69,67087.00,4.87,64.63
3,4.,ICICI Bank,1343.40,18.14,960861.06,0.82,13481.13,-2.68,48363.84,2.82,7.87
4,5.,Infosys,1670.80,23.48,677455.07,2.57,6666.00,10.79,45479.00,8.90,37.50
5,6.,HCL Technologies,1707.00,26.98,463222.63,3.16,4082.00,4.19,33872.00,13.32,31.61
6,7.,Kotak Mah. Bank,422.80,22.37,420495.44,0.12,4924.29,4.75,17506.80,5.25,8.17
7,8.,UltraTech Cem.,12369.00,46.92,364488.67,0.63,1729.44,31.88,21829.68,22.78,10.89
8,9.,Hindustan Zinc,698.70,25.29,295223.04,4.15,3879.00,45.84,10922.00,27.65,60.73
9,10.,JSW Steel,1170.00,36.60,286118.11,0.24,2410.00,218.40,45991.00,11.15,8.11
10,11.,Wipro,238.40,18.85,250014.81,4.61,3145.00,-7.00,23555.80,5.54,19.51
11,12.,Eternal,258.70,1080.76,249654.57,0.00,102.00,72.88,16315.00,201.85,2.66
12,13.,Avenue Super.,3665.60,83.26,238532.71,0.00,855.78,18.27,18100.88,13.32,17.95
13,14.,Shriram Finance,1003.55,20.64,188816.77,0.99,2529.65,18.07,12170.76,13.76,10.95
14,15.,Interglobe Aviat,4704.50,40.12,181871.78,0.21,612.60,-21.69,23471.90,6.16,17.34
16,16.,LTIMindtree,5893.50,33.74,174735.93,1.10,959.60,28.57,10781.00,11.59,27.63
17,17.,Tech Mahindra,1701.10,34.66,166660.40,2.65,1118.60,32.95,14393.20,8.34,18.56
18,18.,Jio Financial,252.90,101.52,160670.95,0.20,268.98,-8.75,900.90,105.52,1.47
19,19.,HDFC Life Insur.,712.10,81.26,153589.00,0.29,418.19,-0.74,29427.61,70.10,6.58
20,20.,B P C L,349.15,6.06,151478.92,5.01,7188.40,89.98,119029.43,5.18,16.22
21,21.,Tata Capital,351.75,33.72,149313.27,0.00,1264.74,19.81,7975.44,12.27,9.58
22,22.,I R F C,114.15,21.29,149177.00,1.40,1802.19,10.52,6661.37,-1.51,5.83
23,23.,DLF,588.45,33.77,145659.72,1.02,1203.36,56.10,2020.22,32.15,6.51
24,24.,Punjab Natl.Bank,120.15,7.76,138087.71,2.41,5576.54,15.72,32889.23,3.12,6.32
25,25.,Union Bank (I),172.77,6.96,131885.80,2.75,5072.69,9.73,26819.18,0.37,6.72

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 0 to 25
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              25 non-null     object
 1   Name               25 non-null     object
 2   CMP  Rs.           25 non-null     object
 3   P/E                25 non-null     object
 4   Mar Cap  Rs.Cr.    25 non-null     object
 5   Div Yld  %         25 non-null     object
 6   NP Qtr  Rs.Cr.     25 non-null     object
 7   Qtr Profit Var  %  25 non-null     object
 8   Sales Qtr  Rs.Cr.  25 non-null     object
 9   Qtr Sales Var  %   25 non-null     object
 10  ROCE  %            25 non-null     object
dtypes: object(11)
memory usage: 2.3+ KB

In [39]:
data['P/E']=data['P/E'].astype(str)