In [5]:
import numpy as np
import pandas as pd

np1=np.arange(25).reshape(5,5)
df1=pd.DataFrame(np1,index=['r1','r2','r3','r4','r5'],columns=['a','b','c','d','e'])
df1.index.name='r'
df1

     a   b   c   d   e
r
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

In [11]:
np2=np.arange(100,125).reshape(5,5)
df2=pd.DataFrame(np2,index=['r1','r2','r3','r4','r6'],columns=['c1','c2','c3','c4','c5'])
df2.index.name='r'
df2

     c1   c2   c3   c4   c5
r
r1  100  101  102  103  104
r2  105  106  107  108  109
r3  110  111  112  113  114
r4  115  116  117  118  119
r6  120  121  122  123  124

In [16]:
#left,right,innner,outer
pd.merge(df1,df2,on='r',how='outer')

       a     b     c     d     e     c1     c2     c3     c4     c5
r
r1   0.0   1.0   2.0   3.0   4.0  100.0  101.0  102.0  103.0  104.0
r2   5.0   6.0   7.0   8.0   9.0  105.0  106.0  107.0  108.0  109.0
r3  10.0  11.0  12.0  13.0  14.0  110.0  111.0  112.0  113.0  114.0
r4  15.0  16.0  17.0  18.0  19.0  115.0  116.0  117.0  118.0  119.0
r5  20.0  21.0  22.0  23.0  24.0    NaN    NaN    NaN    NaN    NaN
r6   NaN   NaN   NaN   NaN   NaN  120.0  121.0  122.0  123.0  124.0

In [28]:
np1=np.arange(25).reshape(5,5)
df3=pd.DataFrame(np1,columns=['r1','r2','r3','r4','r5'],index=['a','b','c','d','e'])
# df1.index.name='r'
print(df3)

np2=np.arange(100,125).reshape(5,5)
df4=pd.DataFrame(np2,columns=['r1','r2','r3','r4','r6'],index=['c1','c2','c3','c4','c5'])
# df2.index.name='r'
print(df4)

   r1  r2  r3  r4  r5
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24
     r1   r2   r3   r4   r6
c1  100  101  102  103  104
c2  105  106  107  108  109
c3  110  111  112  113  114
c4  115  116  117  118  119
c5  120  121  122  123  124

In [32]:
pd.concat([df3,df4],join='inner')

     r1   r2   r3   r4
a     0    1    2    3
b     5    6    7    8
c    10   11   12   13
d    15   16   17   18
e    20   21   22   23
c1  100  101  102  103
c2  105  106  107  108
c3  110  111  112  113
c4  115  116  117  118
c5  120  121  122  123

In [ ]:
#https://en.wikipedia.org/wiki/NIFTY_50
#https://en.wikipedia.org/wiki/List_of_S%26P_500_companies
#company_name,symbol,sector,dateadded

In [34]:
import pandas as pd
import requests

url = 'https://en.wikipedia.org/wiki/NIFTY_50'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
data1=df7[1]
data1

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_71927/2421061468.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

,Company name,Symbol,Sector[15],Date added[16]
0,Adani Enterprises,ADANIENT,Metals & Mining,30 September 2022
1,Adani Ports & SEZ,ADANIPORTS,Services,28 September 2015
2,Apollo Hospitals,APOLLOHOSP,Healthcare,31 March 2022
3,Asian Paints,ASIANPAINT,Consumer Durables,27 April 2012[a]
4,Axis Bank,AXISBANK,Financial Services,27 March 2009
5,Bajaj Auto,BAJAJ-AUTO,Automobile and Auto Components,1 October 2010[b]
6,Bajaj Finance,BAJFINANCE,Financial Services,29 September 2017
7,Bajaj Finserv,BAJAJFINSV,Financial Services,2 April 2018
8,Bharat Electronics,BEL,Capital Goods,30 September 2024
9,Bharti Airtel,BHARTIARTL,Telecommunication,1 March 2004
10,Cipla,CIPLA,Healthcare,7 October 1998
11,Coal India,COALINDIA,"Oil, Gas & Consumable Fuels",10 October 2011
12,Dr. Reddy's Laboratories,DRREDDY,Healthcare,1 October 2010[c]
13,Eicher Motors,EICHERMOT,Automobile and Auto Components,1 April 2016
14,Eternal,ETERNAL,Consumer Services,28 March 2025
15,Grasim Industries,GRASIM,Construction Materials,2 April 2018[d]
16,HCLTech,HCLTECH,Information Technology,28 October 2002
17,HDFC Bank,HDFCBANK,Financial Services,22 April 1996
18,HDFC Life,HDFCLIFE,Financial Services,31 July 2020
19,Hindalco Industries,HINDALCO,Metals & Mining,22 April 1996
20,Hindustan Unilever,HINDUNILVR,Fast Moving Consumer Goods,22 April 1996
21,ICICI Bank,ICICIBANK,Financial Services,25 January 2002
22,IndiGo,INDIGO,Services,30 September 2025
23,Infosys,INFY,Information Technology,7 October 1998
24,ITC,ITC,Fast Moving Consumer Goods,22 April 1996
25,Jio Financial Services,JIOFIN,Financial Services,28 March 2025
26,JSW Steel,JSWSTEEL,Metals & Mining,28 September 2018
27,Kotak Mahindra Bank,KOTAKBANK,Financial Services,8 April 2010
28,Larsen & Toubro,LT,Construction,10 December 2004[e]
29,Mahindra & Mahindra,M&M,Automobile and Auto Components,18 September 1996
30,Maruti Suzuki,MARUTI,Automobile and Auto Components,1 March 2004
31,Max Healthcare,MAXHEALTH,Healthcare,30 September 2025
32,Nestlé India,NESTLEIND,Fast Moving Consumer Goods,27 September 2019[f]
33,NTPC,NTPC,Power,24 September 2007
34,Oil and Natural Gas Corporation,ONGC,"Oil, Gas & Consumable Fuels",12 April 2004
35,Power Grid,POWERGRID,Power,14 March 2008
36,Reliance Industries,RELIANCE,"Oil, Gas & Consumable Fuels",22 April 1996
37,SBI Life Insurance Company,SBILIFE,Financial Services,25 September 2020
38,Shriram Finance,SHRIRAMFIN,Financial Services,28 March 2024
39,State Bank of India,SBIN,Financial Services,22 April 1996
40,Sun Pharma,SUNPHARMA,Healthcare,17 January 2002
41,Tata Consultancy Services,TCS,Information Technology,25 February 2005
42,Tata Consumer Products,TATACONSUM,Fast Moving Consumer Goods,31 March 2021[g]
43,Tata Motors Passenger Vehicles,TMPV,Automobile and Auto Components,22 April 1996
44,Tata Steel,TATASTEEL,Metals & Mining,22 April 1996
45,Tech Mahindra,TECHM,Information Technology,28 March 2014
46,Titan Company,TITAN,Consumer Durables,2 April 2018
47,Trent,TRENT,Consumer Services,30 September 2024
48,UltraTech Cement,ULTRACEMCO,Construction Materials,28 September 2012
49,Wipro,WIPRO,Information Technology,27 September 2013[h]

In [45]:
import pandas as pd
import requests

url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
data2=df7[0]
data2

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_71927/666047164.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [42]:
data1=data1.rename(columns={'Company name':'Name','Sector[15]':'Sector','Date added[16]':'Date'})
data1

,Name,Symbol,Sector,Date
0,Adani Enterprises,ADANIENT,Metals & Mining,30 September 2022
1,Adani Ports & SEZ,ADANIPORTS,Services,28 September 2015
2,Apollo Hospitals,APOLLOHOSP,Healthcare,31 March 2022
3,Asian Paints,ASIANPAINT,Consumer Durables,27 April 2012[a]
4,Axis Bank,AXISBANK,Financial Services,27 March 2009
5,Bajaj Auto,BAJAJ-AUTO,Automobile and Auto Components,1 October 2010[b]
6,Bajaj Finance,BAJFINANCE,Financial Services,29 September 2017
7,Bajaj Finserv,BAJAJFINSV,Financial Services,2 April 2018
8,Bharat Electronics,BEL,Capital Goods,30 September 2024
9,Bharti Airtel,BHARTIARTL,Telecommunication,1 March 2004
10,Cipla,CIPLA,Healthcare,7 October 1998
11,Coal India,COALINDIA,"Oil, Gas & Consumable Fuels",10 October 2011
12,Dr. Reddy's Laboratories,DRREDDY,Healthcare,1 October 2010[c]
13,Eicher Motors,EICHERMOT,Automobile and Auto Components,1 April 2016
14,Eternal,ETERNAL,Consumer Services,28 March 2025
15,Grasim Industries,GRASIM,Construction Materials,2 April 2018[d]
16,HCLTech,HCLTECH,Information Technology,28 October 2002
17,HDFC Bank,HDFCBANK,Financial Services,22 April 1996
18,HDFC Life,HDFCLIFE,Financial Services,31 July 2020
19,Hindalco Industries,HINDALCO,Metals & Mining,22 April 1996
20,Hindustan Unilever,HINDUNILVR,Fast Moving Consumer Goods,22 April 1996
21,ICICI Bank,ICICIBANK,Financial Services,25 January 2002
22,IndiGo,INDIGO,Services,30 September 2025
23,Infosys,INFY,Information Technology,7 October 1998
24,ITC,ITC,Fast Moving Consumer Goods,22 April 1996
25,Jio Financial Services,JIOFIN,Financial Services,28 March 2025
26,JSW Steel,JSWSTEEL,Metals & Mining,28 September 2018
27,Kotak Mahindra Bank,KOTAKBANK,Financial Services,8 April 2010
28,Larsen & Toubro,LT,Construction,10 December 2004[e]
29,Mahindra & Mahindra,M&M,Automobile and Auto Components,18 September 1996
30,Maruti Suzuki,MARUTI,Automobile and Auto Components,1 March 2004
31,Max Healthcare,MAXHEALTH,Healthcare,30 September 2025
32,Nestlé India,NESTLEIND,Fast Moving Consumer Goods,27 September 2019[f]
33,NTPC,NTPC,Power,24 September 2007
34,Oil and Natural Gas Corporation,ONGC,"Oil, Gas & Consumable Fuels",12 April 2004
35,Power Grid,POWERGRID,Power,14 March 2008
36,Reliance Industries,RELIANCE,"Oil, Gas & Consumable Fuels",22 April 1996
37,SBI Life Insurance Company,SBILIFE,Financial Services,25 September 2020
38,Shriram Finance,SHRIRAMFIN,Financial Services,28 March 2024
39,State Bank of India,SBIN,Financial Services,22 April 1996
40,Sun Pharma,SUNPHARMA,Healthcare,17 January 2002
41,Tata Consultancy Services,TCS,Information Technology,25 February 2005
42,Tata Consumer Products,TATACONSUM,Fast Moving Consumer Goods,31 March 2021[g]
43,Tata Motors Passenger Vehicles,TMPV,Automobile and Auto Components,22 April 1996
44,Tata Steel,TATASTEEL,Metals & Mining,22 April 1996
45,Tech Mahindra,TECHM,Information Technology,28 March 2014
46,Titan Company,TITAN,Consumer Durables,2 April 2018
47,Trent,TRENT,Consumer Services,30 September 2024
48,UltraTech Cement,ULTRACEMCO,Construction Materials,28 September 2012
49,Wipro,WIPRO,Information Technology,27 September 2013[h]

In [46]:
data2=data2.rename(columns={'Security':'Name','GICS Sector':'Sector','Date added':'Date'})
data2

,Symbol,Name,Sector,GICS Sub-Industry,Headquarters Location,Date,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [47]:
pd.concat([data1,data2],join='inner')

                   Name      Symbol                  Sector               Date
0     Adani Enterprises    ADANIENT         Metals & Mining  30 September 2022
1     Adani Ports & SEZ  ADANIPORTS                Services  28 September 2015
2      Apollo Hospitals  APOLLOHOSP              Healthcare      31 March 2022
3          Asian Paints  ASIANPAINT       Consumer Durables   27 April 2012[a]
4             Axis Bank    AXISBANK      Financial Services      27 March 2009
..                  ...         ...                     ...                ...
498          Xylem Inc.         XYL             Industrials         2011-11-01
499         Yum! Brands         YUM  Consumer Discretionary         1997-10-06
500  Zebra Technologies        ZBRA  Information Technology         2019-12-23
501       Zimmer Biomet         ZBH             Health Care         2001-08-07
502              Zoetis         ZTS             Health Care         2013-06-21

[553 rows x 4 columns]