In [ ]:

import numpy as np
np1=np.arange(25).reshape(5,5)
np1

dataframe from numpy array

In [1]:
import pandas as pd
df1=pd.DataFrame(np1,index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4','c5'])
df1

NameError: name 'np1' is not defined

dataframe from list of list

In [ ]:
l1=[[1,2,3],[44,55,66],[77,88,99]]
df2=pd.DataFrame(l1,columns=['tsla','amzn','goog'],index=[11,12,13])
df2

dataframe from dict of list

In [ ]:
dl1=[{"name":'tsla','price':500,'sector':'auto'},
     {"name":'amzn','price':600,'sector':'tech'},
     {"name":'jpmorgan','price':800,'sector':'bank'}]
df3=pd.DataFrame(dl1)
df3

list of dictionary

In [ ]:
ld1={"name":['tsla','amzn','jpmorgan'],
     'price':[500,600,800],
     'sector':['auto','tech','bank']}
df4=pd.DataFrame(ld1)
df4

csv

In [10]:
df5=pd.read_csv('sp500.csv')
df5

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30    NaN
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [ ]:
df5.to_excel('e500.xlsx')

In [ ]:
!pip3 install openpyxl

In [ ]:
df6=pd.read_excel('e500.xlsx')
df6

In [ ]:
!pip3 install lxml

In [ ]:
#https://colab.research.google.com/drive/1CslXc80566TtwVgMgjy2yxAr1coyZyOq?usp=sharing

In [ ]:
!pip3 install requests

In [2]:
import pandas as pd
import requests

url = 'https://en.wikipedia.org/wiki/NIFTY_50'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
df7=df7[1]

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_68365/1850262373.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

In [3]:
df7.rename(columns={'Company name':'name','Sector[15]':'sector','Date added[16]':'Date'},inplace=True)

In [ ]:
df7.head(10)

In [ ]:
df7.tail(10)

In [ ]:
df5.info()

In [ ]:
df5.describe()

In [ ]:
df5.shape

In [ ]:
list(df5.columns)

In [ ]:
list(df5.index)

single column ->series


more than 1 column ->dataframe

In [27]:
df5[['Name','EPS']]

                           Name    EPS
0                     Apple Inc   9.20
1                    Abbvie Inc   5.31
2           Abbott Laboratories   2.41
3                 Accenture Plc    NaN
4                  Allergan Plc  15.42
..                          ...    ...
97   Verizon Communications Inc   3.75
98     Walgreens Boots Alliance   5.10
99        Wells Fargo & Company   4.14
100             Wal-Mart Stores   4.36
101            Exxon Mobil Corp   3.56

[102 rows x 2 columns]

In [26]:
df5.Name

0                       Apple Inc
1                      Abbvie Inc
2             Abbott Laboratories
3                   Accenture Plc
4                    Allergan Plc
                  ...
97     Verizon Communications Inc
98       Walgreens Boots Alliance
99          Wells Fargo & Company
100               Wal-Mart Stores
101              Exxon Mobil Corp
Name: Name, Length: 102, dtype: object

In [15]:
print(df5[df5['Price']>100])

                               Name                  Sector    Price    EPS
0                         Apple Inc  Information Technology   170.12   9.20
3                     Accenture Plc  Information Technology   145.30    NaN
4                      Allergan Plc             Health Care   171.81  15.42
6                     Allstate Corp              Financials   100.50   6.79
7                             Amgen             Health Care   168.93  12.58
8                   Amazon.Com Inc.  Consumer Discretionary  1126.82   3.94
10                   Boeing Company             Industrials   265.04   9.75
12                       Biogen Inc             Health Care   311.92  21.59
14                        Blackrock              Financials   474.05  21.55
16             Berkshire Hath Hld B              Financials   181.27   6.29
18                  Caterpillar Inc             Industrials   137.37   5.55
19                     Celgene Corp             Health Care   102.88   6.40
20             Charter Communicatio  Consumer Discretionary   346.20   1.61
25                 Costco Wholesale        Consumer Staples   171.22   5.82
28                     Chevron Corp                  Energy   114.84   3.57
30              Walt Disney Company  Consumer Discretionary   103.02   5.70
36                     Facebook Inc  Information Technology   179.14   5.19
37                       Fedex Corp             Industrials   217.75  11.91
40            General Dynamics Corp             Industrials   198.70  10.07
44                 Alphabet Class C  Information Technology  1018.48  29.87
45                 Alphabet Class A  Information Technology  1034.09  29.87
46              Goldman Sachs Group              Financials   238.05  19.20
48                       Home Depot  Consumer Discretionary   170.13   6.96
49      Honeywell International Inc             Industrials   148.04   6.95
50  International Business Machines  Information Technology   151.40  13.66
52                Johnson & Johnson             Health Care   138.54   7.14
58             Lockheed Martin Corp             Industrials   312.93  12.72
60                   Mastercard Inc  Information Technology   149.93   4.31
61                  McDonald's Corp  Consumer Discretionary   167.01   6.40
65                       3M Company             Industrials   232.49   8.95
67                 Monsanto Company               Materials   118.19   5.53
71                   Nextera Energy               Utilities   155.70   6.67
75                  Priceline Group  Consumer Discretionary  1762.23  74.45
76                      Pepsico Inc        Consumer Staples   115.50   5.12
79  Philip Morris International Inc        Consumer Staples   103.35   4.49
82                 Raytheon Company             Industrials   184.22   7.56
86             Simon Property Group             Real Estate   159.25   6.05
91           Unitedhealth Group Inc             Health Care   209.75   9.60
92               Union Pacific Corp             Industrials   115.58   5.66
93            United Parcel Service             Industrials   113.20   5.98
95         United Technologies Corp             Industrials   117.05   6.62
96                         Visa Inc  Information Technology   110.27   3.48

In [17]:
df5[df5['EPS']>5]

                               Name                  Sector    Price    EPS
0                         Apple Inc  Information Technology   170.12   9.20
1                        Abbvie Inc             Health Care    93.29   5.31
4                      Allergan Plc             Health Care   171.81  15.42
6                     Allstate Corp              Financials   100.50   6.79
7                             Amgen             Health Care   168.93  12.58
9          American Express Company              Financials    93.92   5.22
10                   Boeing Company             Industrials   265.04   9.75
12                       Biogen Inc             Health Care   311.92  21.59
14                        Blackrock              Financials   474.05  21.55
16             Berkshire Hath Hld B              Financials   181.27   6.29
17                    Citigroup Inc              Financials    71.87   5.19
18                  Caterpillar Inc             Industrials   137.37   5.55
19                     Celgene Corp             Health Care   102.88   6.40
23       Capital One Financial Corp              Financials    88.26   7.58
25                 Costco Wholesale        Consumer Staples   171.22   5.82
27                         CVS Corp        Consumer Staples    70.18   5.71
30              Walt Disney Company  Consumer Discretionary   103.02   5.70
36                     Facebook Inc  Information Technology   179.14   5.19
37                       Fedex Corp             Industrials   217.75  11.91
40            General Dynamics Corp             Industrials   198.70  10.07
42              Gilead Sciences Inc             Health Care    71.63   9.58
43           General Motors Company  Consumer Discretionary    44.74   6.19
44                 Alphabet Class C  Information Technology  1018.48  29.87
45                 Alphabet Class A  Information Technology  1034.09  29.87
46              Goldman Sachs Group              Financials   238.05  19.20
48                       Home Depot  Consumer Discretionary   170.13   6.96
49      Honeywell International Inc             Industrials   148.04   6.95
50  International Business Machines  Information Technology   151.40  13.66
52                Johnson & Johnson             Health Care   138.54   7.14
53             JP Morgan Chase & Co              Financials    98.58   6.94
58             Lockheed Martin Corp             Industrials   312.93  12.72
61                  McDonald's Corp  Consumer Discretionary   167.01   6.40
64                      Metlife Inc              Financials    51.85   5.20
65                       3M Company             Industrials   232.49   8.95
67                 Monsanto Company               Materials   118.19   5.53
71                   Nextera Energy               Utilities   155.70   6.67
75                  Priceline Group  Consumer Discretionary  1762.23  74.45
76                      Pepsico Inc        Consumer Staples   115.50   5.12
82                 Raytheon Company             Industrials   184.22   7.56
86             Simon Property Group             Real Estate   159.25   6.05
89                  Time Warner Inc  Consumer Discretionary    88.62   6.06
91           Unitedhealth Group Inc             Health Care   209.75   9.60
92               Union Pacific Corp             Industrials   115.58   5.66
93            United Parcel Service             Industrials   113.20   5.98
95         United Technologies Corp             Industrials   117.05   6.62
98         Walgreens Boots Alliance        Consumer Staples    70.25   5.10

In [21]:
df5[(df5['EPS']>5) & (df5['Price']>200)]

                      Name                  Sector    Price    EPS
10          Boeing Company             Industrials   265.04   9.75
12              Biogen Inc             Health Care   311.92  21.59
14               Blackrock              Financials   474.05  21.55
37              Fedex Corp             Industrials   217.75  11.91
44        Alphabet Class C  Information Technology  1018.48  29.87
45        Alphabet Class A  Information Technology  1034.09  29.87
46     Goldman Sachs Group              Financials   238.05  19.20
58    Lockheed Martin Corp             Industrials   312.93  12.72
65              3M Company             Industrials   232.49   8.95
75         Priceline Group  Consumer Discretionary  1762.23  74.45
91  Unitedhealth Group Inc             Health Care   209.75   9.60

In [ ]:
df5[(df5['EPS']>5) & (df5['Price']>200)]['Name'].to_list()

['Boeing Company',
 'Biogen Inc',
 'Blackrock',
 'Fedex Corp',
 'Alphabet Class C',
 'Alphabet Class A',
 'Goldman Sachs Group',
 'Lockheed Martin Corp',
 '3M Company',
 'Priceline Group',
 'Unitedhealth Group Inc']