In [1]:

import numpy as np
np1=np.arange(25).reshape(5,5)
np1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

dataframe from numpy array

In [2]:
import pandas as pd
df1=pd.DataFrame(np1,index=['r1','r2','r3','r4','r5'],columns=['c1','c2','c3','c4','c5'])
df1

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19
r5  20  21  22  23  24

dataframe from list of list

In [3]:
l1=[[1,2,3],[44,55,66],[77,88,99]]
df2=pd.DataFrame(l1,columns=['tsla','amzn','goog'],index=[11,12,13])
df2

    tsla  amzn  goog
11     1     2     3
12    44    55    66
13    77    88    99

dataframe from dict of list

In [4]:
dl1=[{"name":'tsla','price':500,'sector':'auto'},
     {"name":'amzn','price':600,'sector':'tech'},
     {"name":'jpmorgan','price':800,'sector':'bank'}]
df3=pd.DataFrame(dl1)
df3

       name  price sector
0      tsla    500   auto
1      amzn    600   tech
2  jpmorgan    800   bank

list of dictionary

In [5]:
ld1={"name":['tsla','amzn','jpmorgan'],
     'price':[500,600,800],
     'sector':['auto','tech','bank']}
df4=pd.DataFrame(ld1)
df4

       name  price sector
0      tsla    500   auto
1      amzn    600   tech
2  jpmorgan    800   bank

csv

In [6]:
df5=pd.read_csv('sp500.csv')
df5

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30    NaN
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [7]:
df5.to_excel('e500.xlsx')

In [8]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /Users/algo trading 2026/batch35/.venv/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/algo trading 2026/batch35/.venv/lib/python3.13/site-packages (from openpyxl) (2.0.0)

In [9]:
df6=pd.read_excel('e500.xlsx')
df6

,Unnamed: 0,Name,Sector,Price,EPS
0,0,Apple Inc,Information Technology,170.12,9.20
1,1,Abbvie Inc,Health Care,93.29,5.31
2,2,Abbott Laboratories,Health Care,55.28,2.41
3,3,Accenture Plc,Information Technology,145.30,NaN
4,4,Allergan Plc,Health Care,171.81,15.42
...,...,...,...,...,...
97,97,Verizon Communications Inc,Telecommunications,45.85,3.75
98,98,Walgreens Boots Alliance,Consumer Staples,70.25,5.10
99,99,Wells Fargo & Company,Financials,54.02,4.14
100,100,Wal-Mart Stores,Consumer Staples,96.08,4.36
101,101,Exxon Mobil Corp,Energy,80.31,3.56

In [10]:
!pip3 install lxml

Requirement already satisfied: lxml in /Users/algo trading 2026/batch35/.venv/lib/python3.13/site-packages (6.0.2)

In [17]:
#https://colab.research.google.com/drive/1CslXc80566TtwVgMgjy2yxAr1coyZyOq?usp=sharing

In [19]:
!pip3 install requests

Collecting requests
  Downloading requests-2.32.5-py3-none-any.whl.metadata (4.9 kB)
Collecting charset_normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.4.4-cp313-cp313-macosx_10_13_universal2.whl.metadata (37 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.11-py3-none-any.whl.metadata (8.4 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.6.3-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: certifi>=2017.4.17 in /Users/algo trading 2026/batch35/.venv/lib/python3.13/site-packages (from requests) (2026.1.4)
Downloading requests-2.32.5-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.4-cp313-cp313-macosx_10_13_universal2.whl (208 kB)
Downloading idna-3.11-py3-none-any.whl (71 kB)
Downloading urllib3-2.6.3-py3-none-any.whl (131 kB)
Installing collected packages: urllib3, idna, charset_normalizer, requests
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [requests]
Successfully installed charset_normalizer-3.4.4 idna-3.11 requests-2.32.5 urllib3-2.6.3

In [22]:
import pandas as pd
import requests

url = 'https://en.wikipedia.org/wiki/NIFTY_50'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
df7=df7[1]

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_48428/1850262373.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

In [28]:
df7.rename(columns={'Company name':'name','Sector[15]':'sector','Date added[16]':'Date'},inplace=True)

In [29]:
df7

,name,Symbol,sector,Date
0,Adani Enterprises,ADANIENT,Metals & Mining,30 September 2022
1,Adani Ports & SEZ,ADANIPORTS,Services,28 September 2015
2,Apollo Hospitals,APOLLOHOSP,Healthcare,31 March 2022
3,Asian Paints,ASIANPAINT,Consumer Durables,27 April 2012[a]
4,Axis Bank,AXISBANK,Financial Services,27 March 2009
5,Bajaj Auto,BAJAJ-AUTO,Automobile and Auto Components,1 October 2010[b]
6,Bajaj Finance,BAJFINANCE,Financial Services,29 September 2017
7,Bajaj Finserv,BAJAJFINSV,Financial Services,2 April 2018
8,Bharat Electronics,BEL,Capital Goods,30 September 2024
9,Bharti Airtel,BHARTIARTL,Telecommunication,1 March 2004
10,Cipla,CIPLA,Healthcare,7 October 1998
11,Coal India,COALINDIA,"Oil, Gas & Consumable Fuels",10 October 2011
12,Dr. Reddy's Laboratories,DRREDDY,Healthcare,1 October 2010[c]
13,Eicher Motors,EICHERMOT,Automobile and Auto Components,1 April 2016
14,Eternal,ETERNAL,Consumer Services,28 March 2025
15,Grasim Industries,GRASIM,Construction Materials,2 April 2018[d]
16,HCLTech,HCLTECH,Information Technology,28 October 2002
17,HDFC Bank,HDFCBANK,Financial Services,22 April 1996
18,HDFC Life,HDFCLIFE,Financial Services,31 July 2020
19,Hindalco Industries,HINDALCO,Metals & Mining,22 April 1996
20,Hindustan Unilever,HINDUNILVR,Fast Moving Consumer Goods,22 April 1996
21,ICICI Bank,ICICIBANK,Financial Services,25 January 2002
22,IndiGo,INDIGO,Services,30 September 2025
23,Infosys,INFY,Information Technology,7 October 1998
24,ITC,ITC,Fast Moving Consumer Goods,22 April 1996
25,Jio Financial Services,JIOFIN,Financial Services,28 March 2025
26,JSW Steel,JSWSTEEL,Metals & Mining,28 September 2018
27,Kotak Mahindra Bank,KOTAKBANK,Financial Services,8 April 2010
28,Larsen & Toubro,LT,Construction,10 December 2004[e]
29,Mahindra & Mahindra,M&M,Automobile and Auto Components,18 September 1996
30,Maruti Suzuki,MARUTI,Automobile and Auto Components,1 March 2004
31,Max Healthcare,MAXHEALTH,Healthcare,30 September 2025
32,Nestlé India,NESTLEIND,Fast Moving Consumer Goods,27 September 2019[f]
33,NTPC,NTPC,Power,24 September 2007
34,Oil and Natural Gas Corporation,ONGC,"Oil, Gas & Consumable Fuels",12 April 2004
35,Power Grid,POWERGRID,Power,14 March 2008
36,Reliance Industries,RELIANCE,"Oil, Gas & Consumable Fuels",22 April 1996
37,SBI Life Insurance Company,SBILIFE,Financial Services,25 September 2020
38,Shriram Finance,SHRIRAMFIN,Financial Services,28 March 2024
39,State Bank of India,SBIN,Financial Services,22 April 1996
40,Sun Pharma,SUNPHARMA,Healthcare,17 January 2002
41,Tata Consultancy Services,TCS,Information Technology,25 February 2005
42,Tata Consumer Products,TATACONSUM,Fast Moving Consumer Goods,31 March 2021[g]
43,Tata Motors Passenger Vehicles,TMPV,Automobile and Auto Components,22 April 1996
44,Tata Steel,TATASTEEL,Metals & Mining,22 April 1996
45,Tech Mahindra,TECHM,Information Technology,28 March 2014
46,Titan Company,TITAN,Consumer Durables,2 April 2018
47,Trent,TRENT,Consumer Services,30 September 2024
48,UltraTech Cement,ULTRACEMCO,Construction Materials,28 September 2012
49,Wipro,WIPRO,Information Technology,27 September 2013[h]