In [4]:
import pandas as pd
import requests

url = 'https://www.screener.in/screens/281185/nifty-50/'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
df=df7[0]

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_69609/90395476.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

In [9]:
df=df.drop(15,axis=0)

In [14]:
df['P/E']=df['P/E'].astype('float')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 0 to 25
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              25 non-null     object
 1   Name               25 non-null     object
 2   CMP  Rs.           25 non-null     object
 3   P/E                25 non-null     float64
 4   Mar Cap  Rs.Cr.    25 non-null     object
 5   Div Yld  %         25 non-null     object
 6   NP Qtr  Rs.Cr.     25 non-null     object
 7   Qtr Profit Var  %  25 non-null     object
 8   Sales Qtr  Rs.Cr.  25 non-null     object
 9   Qtr Sales Var  %   25 non-null     object
 10  ROCE  %            25 non-null     object
dtypes: float64(1), object(10)
memory usage: 2.3+ KB

In [17]:
df[df['P/E']>100]['Name'].to_list()

['Eternal', 'Jio Financial']

In [18]:
import pandas as pd
import requests

url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
df=df7[0]
df

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_69609/1535297161.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [26]:
df[(df['GICS Sector']=='Information Technology') & (df['CIK']<10000)]['Symbol'].to_list()

['AMD', 'ADI', 'AMAT', 'SWKS']

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   GICS Sector            503 non-null    object
 3   GICS Sub-Industry      503 non-null    object
 4   Headquarters Location  503 non-null    object
 5   Date added             503 non-null    object
 6   CIK                    503 non-null    int64
 7   Founded                503 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.6+ KB