In [4]:
import pandas as pd
import requests

url = 'https://www.screener.in/screens/281185/nifty-50/'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
df=df7[0]

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_69609/90395476.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

In [9]:
df=df.drop(15,axis=0)

In [14]:
df['P/E']=df['P/E'].astype('float')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 0 to 25
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              25 non-null     object
 1   Name               25 non-null     object
 2   CMP  Rs.           25 non-null     object
 3   P/E                25 non-null     float64
 4   Mar Cap  Rs.Cr.    25 non-null     object
 5   Div Yld  %         25 non-null     object
 6   NP Qtr  Rs.Cr.     25 non-null     object
 7   Qtr Profit Var  %  25 non-null     object
 8   Sales Qtr  Rs.Cr.  25 non-null     object
 9   Qtr Sales Var  %   25 non-null     object
 10  ROCE  %            25 non-null     object
dtypes: float64(1), object(10)
memory usage: 2.3+ KB

In [17]:
df[df['P/E']>100]['Name'].to_list()

['Eternal', 'Jio Financial']