In [1]:

path1=r'/Users/algo trading 2026/batch35/12_pandas/unicorn.csv'
import pandas as pd
df=pd.read_csv(path1)
df

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [44]:
df['Year Founded']+1

0       2013
1       2003
2       2009
3       2011
4       2006
        ...
1069    2013
1070    2016
1071    2019
1072    2006
1073    2015
Name: Year Founded, Length: 1074, dtype: int64

In [ ]:
l1=[]
for i in df['Year Founded']:
    l1.append(i+1)
df['Year Founded']=l1

In [22]:
df[df['Valuation']>100]

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       1074 non-null   object
 1   Valuation     1074 non-null   int64
 2   Date Joined   1074 non-null   datetime64[ns]
 3   Industry      1074 non-null   object
 4   City          1058 non-null   object
 5   Country       1074 non-null   object
 6   Continent     1074 non-null   object
 7   Year Founded  1074 non-null   int64
 8   Funding       1073 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 75.6+ KB

In [7]:
df[df['Year Founded']>2015]['Company'].to_list()

['FTX',
 'Rapyd',
 'Genki Forest',
 'Devoted Health',
 'OpenSea',
 'Argo AI',
 'Northvolt',
 'Faire',
 'Brex',
 'Alchemy',
 'Notion Labs',
 'Thrasio',
 'Pony.ai',
 'Nuro',
 'Kavak',
 'Dapper Labs',
 'Hopin',
 'Ramp',
 'Fireblocks',
 'CRED',
 'Attentive',
 'Rippling',
 'Scale AI',
 'Ro',
 'Black Unicorn Factory',
 'SVOLT',
 'Deel',
 'Cityblock Health',
 'Upgrade',
 'Better.com',
 'Wiz',
 'Anduril',
 'Cerebral',
 'OneTrust',
 'C6 Bank',
 'Ola Electric Mobility',
 'Qonto',
 'SambaNova Systems',
 'Abogen',
 'Turing',
 'MoonPay',
 'Celsius Network',
 'Coalition',
 'Commure',
 'Flock Safety',
 'Rec Room',
 'Tekion',
 'WeRide',
 'Applied Intuition',
 'Papaya Global',
 'Redwood Materials',
 'Sorare',
 'VAST Data',
 'Dutchie',
 'FalconX',
 'dbt Labs',
 'Relativity Space',
 'StockX',
 'Cerebras Systems',
 'ClickUp',
 'Clubhouse',
 'Melio',
 'Next Insurance',
 'Yuga Labs',
 'Worldcoin',
 'Aura',
 'BYTON',
 'Digit Insurance',
 'GoStudent',
 'Immutable',
 'Infra.Market',
 'Side',
 'Somatus',
 'Axonius',
 'Zetwerk',
 'Ethos',
 'BlockDaemon',
 'Dream Games',
 'Graphcore',
 'Cedar',
 'Skims',
 'BharatPe',
 'Flink Food',
 'PsiQuantum',
 'SpotOn',
 'Gorillas',
 'Loft',
 'Udaan',
 'Anchorage Digital',
 'BlockFi',
 'Flutterwave',
 'Groww',
 'Inxeption',
 'Remote',
 'Sky Mavis',
 '1047 Games',
 'Boba',
 'Il Makiage',
 'SellerX',
 'Enflame',
 'Airbyte',
 'Athelas',
 'candy.com',
 'Cognite',
 'CoinList',
 'ElasticRun',
 'Lusha',
 'Next Silicon',
 'Pacaso',
 'Paradox',
 'Persona',
 'Solugen',
 'Temporal',
 'Uplight',
 'Veho',
 'Whatnot',
 'Loom',
 'Mobile Premier League',
 'Uala',
 'ABL Space Systems',
 'Capitolis',
 'Cresta',
 'Mercury',
 'Truepill',
 'Verkada',
 'Wayflyer',
 'Transcarent',
 'Trader Interactive',
 'Optimism',
 'solarisBank',
 'Alan',
 'Biren Technology',
 'DealShare',
 'Dragos',
 'Harness',
 'Spotter',
 'Wave',
 'AIWAYS',
 'NuCom Group',
 'Opentrons',
 'Accelerant',
 'CoinSwitch Kuber',
 'ConcertAI',
 'Eightfold.ai',
 'Forto',
 'Jeeves',
 'Moveworks',
 'PayFit',
 'ReCharge',
 'Ankorstore',
 'Advance Intelligence Group',
 'Aiven',
 'Black Sesame Technologies',
 'Chipper Cash',
 'ClickHouse',
 'Deliverr',
 'Divvy Homes',
 'Guoquan Shihui',
 'Misfits Market',
 'Modern Treasury',
 'Opay',
 'Pipe',
 'Spring Health',
 'StarkWare',
 'Tier',
 'Unqork',
 'VerbIT',
 'Zilch',
 'CredAvenue',
 'dMed Biopharmaceutical',
 'Einride',
 'EQRx',
 'Fair',
 'Hyperchain',
 'Pipa Coding',
 'Shukun Technology',
 'SITECH DEV',
 'TUNGEE',
 'UISEE Technology',
 'WeBull',
 'Xiaobing',
 'Yipin Shengxian',
 'Hello TransTech',
 'ECARX',
 'Orca Security',
 'Forte Labs',
 'CureFit',
 'fabric',
 'K Health',
 'TaxBit',
 'Bordrin Motors',
 'Aleo',
 'Deliverect',
 'Figment',
 'Firebolt',
 'Panther Labs',
 'Papa',
 'Pristyn Care',
 'Salt Security',
 'Tripledot',
 'Yidian Zixun',
 'Neon',
 'Epirus',
 'Motorway',
 'Grove Collaborative',
 'CoinTracker',
 'Island',
 'iTrustCapital',
 'LinkTree',
 'YugaByte',
 'Marshmallow',
 'Mythical Games',
 'Route',
 'Tackle.io',
 'Nexii',
 'GalaxySpace',
 'Ada Support',
 'AgentSync',
 'DailyPay',
 'Gem',
 'Inari',
 'Jokr',
 'Merama',
 'Offchain Labs',
 'Phantom',
 'Pilot.com',
 'Prime Medicine',
 'Rohlik',
 'SeekOut',
 'SmartMore',
 'IRL',
 'Modern Health',
 'Elemy',
 'Rebellion Defense',
 'At-Bay',
 'Acko General Insurance',
 'apna',
 'Beyond Identity',
 'Chief',
 'CoinDCX',
 'Enpal',
 'GlobalBees',
 'People.ai',
 'Rightway',
 'Sunbit',
 'The Bank of London',
 'Zego',
 'Mamaearth',
 'MobileCoin',
 'Matrixport',
 'Agile Robots',
 'Aibee',
 'Ajaib',
 'Amount',
 'Amperity',
 'Anyscale',
 'Aptos',
 'Assembly',
 'Axelar',
 'Axiom Space',
 'Betterfly',
 'BlueVoyant',
 'bolttech',
 'Cadence',
 'Cameo',
 'Capsule',
 'Chronosphere',
 'Cider',
 'Clara',
 'Clearcover',
 'Drata',
 'Dune Analytics',
 'EcoFlow',
 'Electric',
 'Expel',
 'Fiture',
 'Flash Express',
 'Gauntlet Networks',
 'Groq',
 'Hailo',
 'Haomao.AI',
 'Hasura',
 'HAYDON',
 'Heyday',
 'HMD Global',
 'Injective Protocol',
 'Kitopi',
 'Kopi Kenangan',
 'LayerZero Labs',
 'Lessen',
 'Mammoth Biosciences',
 'Masterworks',
 'Meero',
 'Mensa Brands',
 'Momenta',
 'Newlink Group',
 'Noname Security',
 'Orca Bio',
 'Orchard',
 'Owkin',
 'PandaDoc',
 'Pat McGrath Labs',
 'Payhawk',
 'PLACE',
 'Placer.ai',
 'Playco',
 'Printful',
 'Razor',
 "Rothy's",
 'SaltPay',
 'Savage X Fenty',
 'Scalapay',
 'Sidecar Health',
 'Snorkel AI',
 'Solo.io',
 'Standard',
 'Stytch',
 'Swile',
 'TensTorrent',
 'TrueLayer',
 'Vise',
 'VOI',
 'Watershed',
 'Weights & Biases',
 'Wrapbook',
 'Zihaiguo']

In [10]:
df['Date Joined']=pd.to_datetime(df['Date Joined'],format='%d-%m-%Y')

In [19]:
df[df['Date Joined'].dt.year==2015]['Company'].to_list()

['Gusto',
 'Tanium',
 'DJI Innovations',
 'WeDoctor',
 'Royole Corporation',
 'Yixia',
 'Illumio',
 'Thumbtack',
 'Tubatu.com',
 'AppDirect',
 'TuJia',
 'Carbon',
 'Infinidat',
 'Zhubajie',
 'WEMAKEPRICE',
 'Uptake',
 'ZocDoc',
 'BlaBlaCar',
 'Flipboard',
 'HuJiang',
 'iTutorGroup',
 'JimuBox',
 'LifeMiles',
 'LinkSure Network',
 'Apus Group',
 'Jiuxian',
 '58 Daojia',
 'BeiBei',
 'BenevolentAI',
 'FXiaoKe',
 'Lamabang',
 'Mia.com',
 'Red Ventures',
 'Vox Media',
 'Womai']

In [14]:
d='06-05-2021'
d1=pd.to_datetime(d,format='%d-%m-%Y')
d1.year

2021

In [41]:
import pandas as pd
import requests

url = 'https://en.wikipedia.org/wiki/NIFTY_50'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

response = requests.get(url, headers=headers)
df7 = pd.read_html(response.text)
data1=df7[1]
data1

/var/folders/gf/2xw81y_n41x8mbjy1d6lp0540000gn/T/ipykernel_41206/2421061468.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df7 = pd.read_html(response.text)

,Company name,Symbol,Sector[15],Date added[16]
0,Adani Enterprises,ADANIENT,Metals & Mining,30 September 2022
1,Adani Ports & SEZ,ADANIPORTS,Services,28 September 2015
2,Apollo Hospitals,APOLLOHOSP,Healthcare,31 March 2022
3,Asian Paints,ASIANPAINT,Consumer Durables,27 April 2012[a]
4,Axis Bank,AXISBANK,Financial Services,27 March 2009
5,Bajaj Auto,BAJAJ-AUTO,Automobile and Auto Components,1 October 2010[b]
6,Bajaj Finance,BAJFINANCE,Financial Services,29 September 2017
7,Bajaj Finserv,BAJAJFINSV,Financial Services,2 April 2018
8,Bharat Electronics,BEL,Capital Goods,30 September 2024
9,Bharti Airtel,BHARTIARTL,Telecommunication,1 March 2004
10,Cipla,CIPLA,Healthcare,7 October 1998
11,Coal India,COALINDIA,"Oil, Gas & Consumable Fuels",10 October 2011
12,Dr. Reddy's Laboratories,DRREDDY,Healthcare,1 October 2010[c]
13,Eicher Motors,EICHERMOT,Automobile and Auto Components,1 April 2016
14,Eternal,ETERNAL,Consumer Services,28 March 2025
15,Grasim Industries,GRASIM,Construction Materials,2 April 2018[d]
16,HCLTech,HCLTECH,Information Technology,28 October 2002
17,HDFC Bank,HDFCBANK,Financial Services,22 April 1996
18,HDFC Life,HDFCLIFE,Financial Services,31 July 2020
19,Hindalco Industries,HINDALCO,Metals & Mining,22 April 1996
20,Hindustan Unilever,HINDUNILVR,Fast Moving Consumer Goods,22 April 1996
21,ICICI Bank,ICICIBANK,Financial Services,25 January 2002
22,IndiGo,INDIGO,Services,30 September 2025
23,Infosys,INFY,Information Technology,7 October 1998
24,ITC,ITC,Fast Moving Consumer Goods,22 April 1996
25,Jio Financial Services,JIOFIN,Financial Services,28 March 2025
26,JSW Steel,JSWSTEEL,Metals & Mining,28 September 2018
27,Kotak Mahindra Bank,KOTAKBANK,Financial Services,8 April 2010
28,Larsen & Toubro,LT,Construction,10 December 2004[e]
29,Mahindra & Mahindra,M&M,Automobile and Auto Components,18 September 1996
30,Maruti Suzuki,MARUTI,Automobile and Auto Components,1 March 2004
31,Max Healthcare,MAXHEALTH,Healthcare,30 September 2025
32,Nestlé India,NESTLEIND,Fast Moving Consumer Goods,27 September 2019[f]
33,NTPC,NTPC,Power,24 September 2007
34,Oil and Natural Gas Corporation,ONGC,"Oil, Gas & Consumable Fuels",12 April 2004
35,Power Grid,POWERGRID,Power,14 March 2008
36,Reliance Industries,RELIANCE,"Oil, Gas & Consumable Fuels",22 April 1996
37,SBI Life Insurance Company,SBILIFE,Financial Services,25 September 2020
38,Shriram Finance,SHRIRAMFIN,Financial Services,28 March 2024
39,State Bank of India,SBIN,Financial Services,22 April 1996
40,Sun Pharma,SUNPHARMA,Healthcare,17 January 2002
41,Tata Consultancy Services,TCS,Information Technology,25 February 2005
42,Tata Consumer Products,TATACONSUM,Fast Moving Consumer Goods,31 March 2021[g]
43,Tata Motors Passenger Vehicles,TMPV,Automobile and Auto Components,22 April 1996
44,Tata Steel,TATASTEEL,Metals & Mining,22 April 1996
45,Tech Mahindra,TECHM,Information Technology,28 March 2014
46,Titan Company,TITAN,Consumer Durables,2 April 2018
47,Trent,TRENT,Consumer Services,30 September 2024
48,UltraTech Cement,ULTRACEMCO,Construction Materials,28 September 2012
49,Wipro,WIPRO,Information Technology,27 September 2013[h]

In [42]:
l1=[]
for i in data1['Date added[16]']:
    if i[-3]=='[':
        l1.append(pd.to_datetime(i[:-3]))
    else:
        l1.append(pd.to_datetime(i))
data1['Date added[16]']=l1

In [43]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company name    50 non-null     object
 1   Symbol          50 non-null     object
 2   Sector[15]      50 non-null     object
 3   Date added[16]  50 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 1.7+ KB

In [35]:
data1[data1['Date added[16]'].dt.month==3]

,Company name,Symbol,Sector[15],Date added[16]
2,Apollo Hospitals,APOLLOHOSP,Healthcare,2022-03-31
4,Axis Bank,AXISBANK,Financial Services,2009-03-27
9,Bharti Airtel,BHARTIARTL,Telecommunication,2004-03-01
14,Eternal,ETERNAL,Consumer Services,2025-03-28
25,Jio Financial Services,JIOFIN,Financial Services,2025-03-28
30,Maruti Suzuki,MARUTI,Automobile and Auto Components,2004-03-01
35,Power Grid,POWERGRID,Power,2008-03-14
38,Shriram Finance,SHRIRAMFIN,Financial Services,2024-03-28
42,Tata Consumer Products,TATACONSUM,Fast Moving Consumer Goods,2021-03-31
45,Tech Mahindra,TECHM,Information Technology,2014-03-28

In [40]:
data1['Date added[16]'].dt.dayofweek

0     4
1     0
2     3
3     4
4     4
5     4
6     4
7     0
8     0
9     0
10    2
11    0
12    4
13    4
14    4
15    0
16    0
17    0
18    4
19    0
20    0
21    4
22    1
23    2
24    0
25    4
26    4
27    3
28    4
29    2
30    0
31    1
32    4
33    0
34    0
35    4
36    0
37    4
38    3
39    0
40    3
41    4
42    2
43    0
44    0
45    4
46    0
47    0
48    4
49    4
Name: Date added[16], dtype: int32

In [30]:
data1['Date added[16]']=pd.to_datetime(data1['Date added[16]'])