In [ ]:


import datetime as dt
from zoneinfo import ZoneInfo
new_york_timezone = ZoneInfo('America/New_York')
kolkata_timezone = ZoneInfo('Asia/Kolkata')
utc_timezone=ZoneInfo('UTC')
dt1=dt.datetime.now(tz=utc_timezone)
print(dt1)
dt2=dt.datetime.now(tz=new_york_timezone)
print(dt2)
dt3=dt.datetime.now(tz=kolkata_timezone)
print(dt3)

In [ ]:
dt2.astimezone(utc_timezone)

In [ ]:
!pip install yfinance

In [13]:
import yfinance as yf
data=yf.download('TSLA',period='5d',interval='1m',multi_level_index=False)
data.to_csv('candel1.csv')

[*********************100%***********************]  1 of 1 completed

In [19]:
import pandas as pd
data1=pd.read_csv('candel1.csv')
data1

,Datetime,Close,High,Low,Open,Volume
0,2026-01-26 14:30:00+00:00,442.665009,445.029999,442.130005,445.029999,1121872
1,2026-01-26 14:31:00+00:00,443.399994,443.529999,442.269989,442.665009,268066
2,2026-01-26 14:32:00+00:00,442.079895,443.399994,441.470001,443.364990,292367
3,2026-01-26 14:33:00+00:00,441.380005,442.750000,441.380005,442.029999,213710
4,2026-01-26 14:34:00+00:00,439.649994,441.378387,439.600006,441.378387,389645
...,...,...,...,...,...,...
1930,2026-01-30 20:55:00+00:00,432.059998,432.609985,430.250000,432.609985,496455
1931,2026-01-30 20:56:00+00:00,430.798615,432.100006,430.519989,432.079987,396241
1932,2026-01-30 20:57:00+00:00,430.739990,430.869995,430.399994,430.859985,313633
1933,2026-01-30 20:58:00+00:00,430.600006,430.850006,430.399994,430.750000,353859
1934,2026-01-30 20:59:00+00:00,430.436005,430.920013,430.100006,430.609985,922192

In [20]:
data1['Datetime']=pd.to_datetime(data1['Datetime'])

In [21]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1935 entries, 0 to 1934
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  1935 non-null   datetime64[ns, UTC]
 1   Close     1935 non-null   float64
 2   High      1935 non-null   float64
 3   Low       1935 non-null   float64
 4   Open      1935 non-null   float64
 5   Volume    1935 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(1)
memory usage: 90.8 KB

In [24]:
data1

,Datetime,Close,High,Low,Open,Volume
0,2026-01-26 14:30:00+00:00,442.665009,445.029999,442.130005,445.029999,1121872
1,2026-01-26 14:31:00+00:00,443.399994,443.529999,442.269989,442.665009,268066
2,2026-01-26 14:32:00+00:00,442.079895,443.399994,441.470001,443.364990,292367
3,2026-01-26 14:33:00+00:00,441.380005,442.750000,441.380005,442.029999,213710
4,2026-01-26 14:34:00+00:00,439.649994,441.378387,439.600006,441.378387,389645
...,...,...,...,...,...,...
1930,2026-01-30 20:55:00+00:00,432.059998,432.609985,430.250000,432.609985,496455
1931,2026-01-30 20:56:00+00:00,430.798615,432.100006,430.519989,432.079987,396241
1932,2026-01-30 20:57:00+00:00,430.739990,430.869995,430.399994,430.859985,313633
1933,2026-01-30 20:58:00+00:00,430.600006,430.850006,430.399994,430.750000,353859
1934,2026-01-30 20:59:00+00:00,430.436005,430.920013,430.100006,430.609985,922192

In [23]:
data1['Datetime'].dt.tz_localize(None)

0      2026-01-26 14:30:00
1      2026-01-26 14:31:00
2      2026-01-26 14:32:00
3      2026-01-26 14:33:00
4      2026-01-26 14:34:00
               ...
1930   2026-01-30 20:55:00
1931   2026-01-30 20:56:00
1932   2026-01-30 20:57:00
1933   2026-01-30 20:58:00
1934   2026-01-30 20:59:00
Name: Datetime, Length: 1935, dtype: datetime64[ns]

In [26]:
data1['Datetime'].dt.tz_convert("America/New_York")

0      2026-01-26 09:30:00-05:00
1      2026-01-26 09:31:00-05:00
2      2026-01-26 09:32:00-05:00
3      2026-01-26 09:33:00-05:00
4      2026-01-26 09:34:00-05:00
                  ...
1930   2026-01-30 15:55:00-05:00
1931   2026-01-30 15:56:00-05:00
1932   2026-01-30 15:57:00-05:00
1933   2026-01-30 15:58:00-05:00
1934   2026-01-30 15:59:00-05:00
Name: Datetime, Length: 1935, dtype: datetime64[ns, America/New_York]